* {
  padding: 0;
  margin: 0; }

html, body {
  background-color: #fff;
  height: 100%;
  font-size: 16px;
  font-family: "aktiv-grotesk", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #343f45;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

body > * {
  flex-shrink: 0; }

header {
  background-color: #343f45;
  width: 100%;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  display: absolute;
  z-index: 1;
  display: none; }

div.container {
  display: flex;
  flex-grow: 1; }

div.interaction {
  background-color: #fff;
  width: 60%;
  z-index: 1;
  position: relative; }
  div.interaction h1 {
    font-family: "freight-display-pro", "Garamond", serif;
    color: black;
    margin-bottom: 5vh; }
    div.interaction h1 img {
      display: inline-block;
      height: 42px;
      vertical-align: bottom; }
  div.interaction h1#question-title {
    color: #4f00ff;
    font-family: "futura-pt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-bottom: 3vh; }
    div.interaction h1#question-title span {
      color: #ff9faa;
      font-family: "freight-display-pro", "Garamond", serif;
      font-size: 2.5em; }
  div.interaction fieldset {
    border: none;
    margin: 5vh 0; }
    div.interaction fieldset button {
      background-color: #ff9faa;
      outline: none;
      border: none;
      border-radius: 2px;
      padding: 10px 12px;
      margin: 5px;
      color: #fff;
      font-weight: bold;
      transition: all 0.3s; }
      div.interaction fieldset button.active {
        transition: all 0.3s;
        background-color: #4f00ff; }
      div.interaction fieldset button:hover {
        transform: scale(1.1);
        transition: all 0.3s; }
    div.interaction fieldset span {
      font-size: 0.8em;
      color: #343f45;
      display: block;
      opacity: 0.7; }
  div.interaction .quiz {
    padding: 3%; }
  div.interaction button.next {
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 15px 0;
    background-color: #ff9faa;
    border: none;
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 1s;
    position: absolute;
    bottom: 3%;
    left: 3%; }
    div.interaction button.next.inactive {
      background-color: #4f00ff;
      transition: all 1s; }
  div.interaction .progress-bar {
    font-family: "futura-pt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #4f00ff;
    position: absolute;
    bottom: 3%;
    right: 3%; }
    div.interaction .progress-bar svg#progress-bar {
      fill: #ff9faa;
      stroke: white;
      stroke-width: 6;
      stroke-miterlimit: 10;
      width: 60px;
      height: 60px;
      display: inline-block;
      vertical-align: middle; }
      div.interaction .progress-bar svg#progress-bar #step-filled {
        fill: #4f00ff;
        transition: all 1s; }

div.response {
  background: #343f45;
  overflow: hidden;
  width: 40%;
  min-width: 500px;
  position: relative; }
  div.response #dartboard {
    position: absolute;
    left: -252px;
    bottom: -252px;
    transform: scale(1.9);
    transition: all 1s;
    stroke: #fff;
    fill: rgba(255, 255, 255, 0.1);
    stroke-width: 0.5;
    stroke-miterlimit: 10; }
    div.response #dartboard #svg-empty {
      fill: rgba(255, 255, 255, 0.1);
      transition: all 1s; }
    div.response #dartboard #svg-error {
      fill: #ff4500;
      transition: all 1s; }
    div.response #dartboard #svg-filled {
      fill: #4f00ff;
      transition: all 1s; }
    div.response #dartboard #svg-unfilled {
      fill: #fff;
      transition: all 1s; }
    div.response #dartboard #svg-bullseye {
      fill: #ff9faa;
      transition: all 1s; }
  div.response div#dartboard-label {
    color: #fff;
    font-size: 1.25em;
    width: 150px;
    position: absolute;
    left: 350px;
    bottom: 350px; }

/*# sourceMappingURL=master.css.map */
