* {
  padding: 0;
  margin: 0; }

html, body {
  background-color: #fff;
  height: 100%;
  font-size: 16px;
  font-family: "aktiv-grotesk", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #343f45;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }
  html.results .interaction, body.results .interaction {
    width: 40%; }
  html.results .response, body.results .response {
    width: 60%;
    min-width: 700px; }

body > * {
  flex-shrink: 0; }

header {
  font-family: "freight-display-pro", "Bodoni", "Garamond", serif;
  font-weight: bold;
  color: black;
  margin: 30px;
  font-size: 2em; }
  header img {
    display: inline-block;
    height: 42px;
    vertical-align: bottom; }
  header h2 {
    color: #280080;
    font-family: "futura-pt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: -5px; }
  header p {
    font-family: "aktiv-grotesk", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    color: #4f00ff;
    font-size: 0.5em;
    margin-left: 50px; }

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "futura-pt", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h2 {
  color: #343f45;
  font-size: 1.25em;
  font-family: "freight-display-pro", "Bodoni", "Garamond", serif;
  margin-top: 10px; }

h3 {
  color: #4f00ff;
  font-size: 1em;
  font-family: "freight-display-pro", "Bodoni", "Garamond", serif;
  margin-top: 10px;
  font-style: italic; }

ul {
  list-style: disc inside none; }

p {
  margin-bottom: 15px; }

button {
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 15px 0;
  background-color: #4f00ff;
  border: none;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 1s; }

div.container {
  display: flex;
  flex-grow: 1; }

svg #svg-empty {
  fill: rgba(255, 255, 255, 0.1);
  transition: all 1s; }
svg #svg-error {
  fill: #ff4500;
  transition: all 1s; }
svg path#svg-filled {
  fill: #4f00ff;
  transition: all 1s; }
  svg path#svg-filled:nth-child(1) {
    fill: #a780ff; }
  svg path#svg-filled:nth-child(2) {
    fill: #9566ff; }
  svg path#svg-filled:nth-child(3) {
    fill: #844dff; }
  svg path#svg-filled:nth-child(4) {
    fill: #7233ff; }
  svg path#svg-filled:nth-child(5) {
    fill: #5305ff; }
svg #svg-unfilled {
  fill: #fff;
  transition: all 1s; }
svg #svg-bullseye {
  fill: #4f00ff;
  transition: all 1s; }
svg #svg-bullseye2 {
  fill: #4f00ff;
  transition: all 1s; }

div.interaction {
  background-color: #fff;
  width: 60%;
  z-index: 1;
  height: 100vh;
  overflow-y: scroll;
  position: relative; }
  div.interaction div#thanks {
    padding: 30px;
    height: 100vh;
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: white; }
  div.interaction h1#question-title span {
    color: #280080;
    font-family: "freight-display-pro", "Bodoni", "Garamond", serif;
    font-size: 2.5em; }
  div.interaction .quiz, div.interaction .content, div.interaction .results {
    padding: 30px; }
  div.interaction fieldset {
    border: none;
    margin: 5vh 0; }
    div.interaction fieldset button {
      background-color: #280080;
      outline: none;
      border: none;
      border-radius: 2px;
      padding: 10px 12px;
      margin: 5px;
      color: #fff;
      font-weight: bold;
      transition: all 0.3s; }
      div.interaction fieldset button.active {
        transition: all 0.3s;
        background-color: #4f00ff; }
      div.interaction fieldset button:hover {
        transform: scale(1.1);
        transition: all 0.3s; }
    div.interaction fieldset span {
      font-size: 0.8em;
      color: #343f45;
      display: block;
      opacity: 0.7; }
  div.interaction button.next {
    position: absolute;
    bottom: 30px;
    left: 30px; }
    div.interaction button.next.inactive {
      opacity: 0.3;
      transition: all 1s; }
  div.interaction .progress-bar {
    font-family: "futura-pt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #4f00ff;
    position: absolute;
    bottom: 30px;
    right: 30px; }
    div.interaction .progress-bar svg#progress-bar {
      fill: #280080;
      stroke: white;
      stroke-width: 6;
      stroke-miterlimit: 10;
      width: 60px;
      height: 60px;
      display: inline-block;
      vertical-align: middle; }
      div.interaction .progress-bar svg#progress-bar #step-filled {
        fill: #4f00ff;
        transition: all 1s; }
  div.interaction .assessment-fields {
    padding: 30px; }
    div.interaction .assessment-fields h1 {
      color: #343f45;
      font-size: 1.125em;
      margin-bottom: 12px;
      cursor: hand; }
      div.interaction .assessment-fields h1:before {
        content: "";
        background: url(../triangle.svg) no-repeat top left;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        display: inline-block; }
      div.interaction .assessment-fields h1:hover, div.interaction .assessment-fields h1.open {
        color: #280080; }
      div.interaction .assessment-fields h1 span {
        color: #4f00ff;
        float: right;
        font-size: 0.8em;
        margin-top: 3px; }
    div.interaction .assessment-fields .result-content {
      padding: 0 15px 30px; }

div.response {
  background: #343f45;
  overflow: hidden;
  width: 40%;
  min-width: 500px;
  position: relative; }
  div.response #dartboard {
    position: absolute;
    left: -252px;
    bottom: -252px;
    transform: scale(1.9);
    transition: all 1s;
    stroke: #b4bfc5;
    fill: rgba(255, 255, 255, 0.1);
    stroke-width: 0.5;
    stroke-miterlimit: 10; }
  div.response #dartboard-results {
    transition: all 1s;
    stroke: #b4bfc5;
    fill: rgba(255, 255, 255, 0.1);
    stroke-width: 1;
    stroke-miterlimit: 10;
    position: relative;
    left: calc(50% - 250px);
    top: calc(50% - 250px); }
    div.response #dartboard-results #svg-filled.highlight {
      fill: #280080; }
  div.response div.dartboard-label {
    color: #fff;
    font-size: 1.25em;
    width: 150px;
    position: absolute;
    left: 350px;
    bottom: 350px; }
  div.response div.result-label {
    color: #fff;
    font-size: 0.9em;
    width: 90px;
    position: absolute;
    left: 50%;
    top: 50%; }
    div.response div.result-label.label1 {
      top: calc(50% - 280px);
      left: calc(50% + 20px); }
    div.response div.result-label.label2 {
      top: calc(50% - 220px);
      left: calc(50% + 180px); }
    div.response div.result-label.label3 {
      top: calc(50% - 90px);
      left: calc(50% + 260px); }
    div.response div.result-label.label4 {
      left: calc(50% + 260px);
      top: calc(50% + 50px); }
    div.response div.result-label.label5 {
      top: calc(50% + 180px);
      left: calc(50% + 180px); }
    div.response div.result-label.label6 {
      top: calc(50% + 260px);
      left: calc(50% + 20px); }
    div.response div.result-label.label7 {
      top: calc(50% + 260px);
      left: calc(50% - 100px); }
    div.response div.result-label.label8 {
      top: calc(50% + 180px);
      left: calc(50% - 258px); }
    div.response div.result-label.label9 {
      top: calc(50% + 50px);
      left: calc(50% - 290px); }
    div.response div.result-label.label10 {
      top: calc(50% - 70px);
      left: calc(50% - 285px); }
    div.response div.result-label.label11 {
      top: calc(50% - 210px);
      left: calc(50% - 225px); }
    div.response div.result-label.label12 {
      top: calc(50% - 280px);
      left: calc(50% - 120px); }

/*# sourceMappingURL=master.css.map */
