#results{
  .dartboard-panel{
  	overflow: hidden;
  	width: 60%;
  	position: relative;    
      .arc {
        stroke-width: 1;
        stroke: rgba(31,42,60,0.035);
        fill: none;
        cursor: pointer;
      }
      
      .unfilled{ fill: $bg-color; stroke: $bg-color;}
      .filled{ fill: rgba(0,0,0,0.01);}
      
      .circle-1{ fill: $dartboard-lowest;}
      .circle-2{ fill: $dartboard-second-lowest;}
      .circle-3{ fill: $dartboard-middle;}
      .circle-4{ fill: $dartboard-second-highest;}
      .circle-5{ fill: $dartboard-highest;}
      
      .selected{
        transition: $transition-short;
        text{
          fill: lighten($bg-color, 70%);
        }
        .arc{ 
          &:nth-child(2){ fill: lighten($dartboard-lowest, 15%);}
          &:nth-child(3){ fill: lighten($dartboard-second-lowest, 15%);}
          &:nth-child(4){ fill: lighten($dartboard-middle, 15%);}
          &:nth-child(5){ fill: lighten($dartboard-second-highest, 15%);}
          &:nth-child(6){ fill: lighten($dartboard-highest, 15%);}
          &.unfilled{ fill: lighten($bg-color,15%); stroke: lighten($bg-color,15%);}
        }
      }
      
      .highlight{
        transition: $transition-short;
        text{
          fill: lighten($bg-color, 70%);
        }
        .arc{
          &:nth-child(2){ fill: lighten($dartboard-lowest, 5%);}
          &:nth-child(3){ fill: lighten($dartboard-second-lowest, 5%);}
          &:nth-child(4){ fill: lighten($dartboard-middle, 5%);}
          &:nth-child(5){ fill: lighten($dartboard-second-highest, 5%);}
          &:nth-child(6){ fill: lighten($dartboard-highest, 5%);}
          &.unfilled{ fill: lighten($bg-color,5%); stroke: lighten($bg-color,5%);}
        }
      }
      
      .bullseye{
        stroke: rgba(31,42,60,0.035);
        stroke-width: 1;
        fill: $dartboard-highest;
      }
      text{
      	font-family: $aktiv-family;
      	font-size: 0.8em;
      	fill: lighten($bg-color, 40%);
      }
  }
  .results-panel{
  	width: 40%;
  	min-width: 500px;
  	z-index: 1;
  	position: relative;    
  	padding: $big-margin;
  	font-size: 0.85em;
  	h1{color: $white;}
  	h2{
    	font-family: $futura-family;
    	span{ font-weight: lighter; color: lighten($bg-color,60%); }
  	}
  	h3{
    	font-family: $futura-family;
    	font-weight: 300;
    	color: lighten($bg-color,60%);
    	text-transform: uppercase;
    	margin-top: $small-margin;
  	}
  	h4 {
    margin-top: 5px;
    font-weight: normal;
    color: lighten($bg-color,50%);
    opacity: 0.85;
  	margin-bottom: $small-margin;
      span {
        color: $white;
      }    
    }

  	svg{
    	position: absolute;
    	bottom: $big-margin;
    	cursor: pointer;
      border-top: 1px solid $soft-white-border;
      background-color: lighten($bg-color, 3%);
      border-radius: 2px;
      padding: $small-margin;
    	rect{
//compensating for the filter element that takes the first style
      	&:nth-child(6){ fill: $dartboard-highest;}
      	&:nth-child(5){ fill: $dartboard-second-highest;}
      	&:nth-child(4){ fill: $dartboard-middle;}
      	&:nth-child(3){ fill: $dartboard-second-lowest;}
      	&:nth-child(2){ fill: $dartboard-lowest;}
    	}
    	text{
      	fill: white;
      	cursor: pointer;
      	&.legend{
        	fill: lighten($bg-color,50%);
        	font-size: 0.75em;
        	text-transform: uppercase;
        	letter-spacing: 0.5;
        	font-family: $aktiv-family;
      	}
    	}
  	}
  }
  footer{
    background-color: lighten($bg-color, 3%);
    border-top: 1px solid $soft-white-border;
    ol{
    display: flex;
    flex-direction: row;
      li{
        border-right: 1px solid $soft-white-border;
        display: block;
        text-align: center;
        padding: $small-margin;
        span{
          text-transform: uppercase;
          letter-spacing: 0.5;
          font-size: 0.7em;
          color: lighten($bg-color,40%);
        }
        h2{
          font-family: $futura-family;
          font-size: 1.8em;
          font-weight: 100;
        }
          &.lowest-average{ 
            h2 {color: lighten($dartboard-lowest,20%); }
            cursor: pointer;
          }
          &.highest-average{ 
            h2{ color: $dartboard-highest; }
            cursor: pointer;
          }
          &.total-responses h2{ color: $dartboard-middle; }
          &.date h2{ color: $white; }
      }
    }
      &:after{
        content: '';
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: url('../carbon-five-logo.svg') no-repeat center center;
        background-size:40%;
      }
  }
}