@import 'base';
@import 'assessment';
@import 'results';

*{ padding: 0; margin: 0; }

html, body{
  background: $bg-color;
	height: 100%;
	font-size: 15px;
	font-family: $aktiv-family;
	color: $text-color;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

body > *{
	flex-shrink: 0;
}

header{
	font-family: $freight-family;
	font-weight: bold;
	padding: $small-margin;
	font-size: 1.5em;
	color: $text-color;
	letter-spacing: 0.5px;
	border-bottom: 1px solid $soft-white-border;
	img{
	    display: inline-block;
	    height: 42px;
	    margin-right: 10px;
	    vertical-align: middle;			
	}
}
	
div.container{
	display: flex;
	flex-grow: 1;
}

h1{
  font-family: $futura-family;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 1px;
}
p{ color: lighten($bg-color, 75%); }

button{
	text-transform: uppercase;
	padding: 10px 30px;
	margin: $small-margin 0;
	border: none;
		background-color: $dartboard-highest; 
	font-size: 0.8em;
	font-weight: 600;
	transition: $transition-long;
	outline: none;
	border-radius: 2px;
	color: $white;
}


.bullseye{ stroke: rgba(31,42,60,0.035); stroke-width: 1; fill: $dartboard-highest; }
.circle-1{ fill: $dartboard-lowest; filter:none!important;}
.circle-2{ fill: $dartboard-second-lowest;}
.circle-3{ fill: $dartboard-middle;}
.circle-4{ fill: $dartboard-second-highest;}
.circle-5{ fill: $dartboard-highest;}

.dartboard-error{ color: $dartboard-error;}
.dartboard-highest{ color: $dartboard-highest;}
.dartboard-second-highest{ color: $dartboard-second-highest;}
.dartboard-middle{ color: $dartboard-middle;}
.dartboard-second-lowest{ color: $dartboard-second-lowest;}
.dartboard-lowest{ color: lighten($dartboard-lowest,2%);}


.arc {
  stroke-width: 1;
  stroke: rgba(255,255,255,0.05);
  transition: $transition-long;
  &:nth-child(1){ fill: lighten($bg-color, 0%);}
  &:nth-child(2){ fill: lighten($bg-color, 2.5%);}
  &:nth-child(3){ fill: lighten($bg-color, 5%);}
  &:nth-child(4){ fill: lighten($bg-color, 7.5%);}
  &:nth-child(5){ fill: lighten($bg-color, 10%);}
  &.selected{
    fill: rgba(255,255,255,0.01);
  }
  &.unselected{ fill: $bg-color;}
}

span{
  text-transform: uppercase;
  color: lighten($bg-color,40%);
  &.lowest-score{
    color: lighten($dartboard-error,5%);
    letter-spacing: 1;
  }
}
