$warm-dark-grey : #343f45;
$hot-blue : #4f00ff;
$hot-orange : #ff4500;
$white : #fff;

body{
	background-color: #fff;
	font-size: 16px;
	font-family: "Asul", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

header{
	background-color: $warm-dark-grey;
	width: 100%;
	padding: 20px;
	color: $white;
}

div.container{
	display: flex;
	height: 100vh;
}

div.interaction{
	background-color: $white;
	width: 60%;
	padding: 20px;

	h1{
		color: $hot-blue;
	}

	fieldset{
		border: none;
		button{
			background-color: $hot-orange;
			outline: none;
			border: none;
			border-radius: 2px;
			padding: 10px 12px;
			margin: 5px;
			color: $white;
			font-weight: bold;
			transition: all 0.5s;
			&.selected{
				transition: all 0.3s;
				background-color: $hot-blue;
			}
		}
	}	
	
	button.next{
		text-transform: uppercase;
		padding: 20px 50px;
		background-color: $hot-blue;
		border: none;
		color: $white; 
		font-size: 1em;
		letter-spacing: 2px;
		&.inactive{
			background-color: $warm-dark-grey;
			opacity: 0.7;
		}
	}
}

div.response{
	background-color: $warm-dark-grey;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	width: 40%;
	min-width: 500px;
}

