$warm-dark-grey : #343f45;
$hot-blue : #4f00ff;
$hot-orange : #ff4500;
$white : #fff;
$hot-magenta : #f70582;

$stroke-color: $white;
$transparent-fill: rgba(255,255,255,0.1);

//*{ padding: 0; margin: 0; }

html, body{
	background-color: $white;
	height: 100%;
	font-size: 16px;
	font-family: "Asul", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

body > *{
	flex-shrink: 0;
}

header{
	background-color: $warm-dark-grey;
	width: 100%;
	padding: 20px;
	color: $white;
	box-sizing: border-box;
	display: absolute;
	z-index: 1;
}

div.container{
	display: flex;
	background-color: $warm-dark-grey;
	flex-grow: 1;
}

div.interaction{
	background-color: $white;
	width: 60%;
	padding: 20px;
	z-index: 1;

	h1{
		color: $hot-blue;
	}

	fieldset{
		border: none;
		button{
			background-color: $hot-orange;
			outline: none;
			border: none;
			border-radius: 2px;
			padding: 10px 12px;
			margin: 5px;
			color: $white;
			font-weight: bold;
			transition: all 0.5s;
			&.active{
				transition: all 0.3s;
				background-color: $hot-blue;
			}
			&:hover{
				transform: scale(1.1);
				transition: all 0.3s;
			}
		}
	}	
	
	button.next{
		text-transform: uppercase;
		padding: 20px 50px;
		background-color: $hot-orange;
		border: none;
		color: $white; 
		font-size: 1em;
		letter-spacing: 2px;
		transition: all 1s;
		&.inactive{
			opacity: 0;
			transition: all 1s;
		}
	}
}

div.response{
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	overflow: hidden;
	width: 40%;
	min-width: 500px;
	position: relative;


	#dartboard{ 
		position: absolute;
		left: -250px;
		bottom: -250px;
		transform: scale(1.9);
		transition: all 1s;
		stroke:$stroke-color;
		fill:$transparent-fill;
		stroke-width:0.5;
		stroke-miterlimit:10;

		#svg-error{
			fill:$hot-orange;
			stroke:$stroke-color;
			opacity: 1;
		}
		#svg-filled{
			fill:$hot-blue;
			stroke:$stroke-color;
			opacity: 1;
		}
		#svg-bullseye{
			fill:$hot-magenta;
			stroke:$stroke-color;
		}
	
	}

	div#dartboard-label {
	    color: white;
	    font-size: 1.25em;
	    font-family: Helvetica;
	    font-weight: lighter;
	    width: 150px;
	    position: absolute;
	    left: 350px;
	    bottom: 350px;
	}

}

